body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #222222;
  color: #fff;
  height: 100%;
  position: relative;
}

::selection {
  color: #222222;
  background-color: #00E0FF;
}

body:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible;
}

scroll-container {
  display: block;
  width: 350px;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: #222222;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 20px;
  color: #00FF85;
}

#hero h2 {
  font-family: "Poppins", sans-serif;
  color: #ebeef0;
  margin-bottom: 15px;
  font-size: 23px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 10px 0 0 0;
  color: #222222;
  background: #00FF85;
}

#hero .btn-get-started:hover {
  background: #00E0FF;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero .hero-img img {
  width: 100%;
  padding-left: 100px;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 55%;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 65%;
    padding-left: 0;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Blog Details
--------------------------------------------------------------*/
.titulo-blog-detail {
  color: #00FF85;
  /* Cor do texto do título */
}

.titulo-blog-detail a {
  color: #fff;
  /* Cor do texto dos links */
}

.titulo-blog-detail a:hover {
  text-decoration: none;
  /* Remove sublinhado ao passar o mouse */
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.content-blog {
  padding: 15vh 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 25px 0;
  color: #00FF85;
}



.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: #00FF85;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #00E0FF;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol a {
  color: #00E0FF;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

/*--------------------------------------------------------------
# Post Preview
--------------------------------------------------------------*/
.post-preview {
  margin-bottom: 30px;
}

.post-preview>a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}


.post-preview>a>.post-title {
  color: #00FF85;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.post-preview>a>.post-title:hover {
  color: #00984f;
}

.post-preview>a:hover {
  color: #7e7e7e;
}

.post-preview>a>.post-subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

.post-preview>.post-meta {
  font-size: 24px;
  font-size: 1.125rem;
  font-style: italic;
  color: #888;
}

.post-preview>.post-meta>a {
  color: #47b2e4;
  text-decoration: none;
}

@media (max-width: 991px) {
  .post-preview>a>.post-title {
    font-size: 25px;

  }

  .post-preview>a>.post-subtitle {
    font-size: 16px;
  }

  .post-preview>.post-meta {
    font-size: 18x;
  }

  .post-preview>.post-meta>a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .post-preview>a>.post-title {
    font-size: 18px;
  }

  .post-preview>a>.post-subtitle {
    font-size: 12px;
  }

  .post-preview>.post-meta {
    font-size: 14px;
  }

  .post-preview>.post-meta>a {
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  height: 70vh;
  padding-top: 20vh;
}

.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #47b2e4;
}

@media (max-width: 991px) {

  .services {
    padding-top: 15vh;
    height: auto;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  padding-top: 10vh;
  background: #222222;
}


.footer-top {
  padding: 60px 0 30px 0;

}

.footer-top .footer-contact {
  margin-bottom: 30px;
}

.footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #00FF85;
}

.footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #00E0FF;
}

.footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #00FF85;
  position: relative;
  padding-bottom: 12px;
}

.footer-top .footer-links {
  color: #00E0FF;
  margin-bottom: 30px;
}

.footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-top .footer-links ul i {
  padding-right: 2px;
  color: #00E0FF;
  font-size: 18px;
  line-height: 1;
}

.footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer-top .footer-links ul a {
  color: #00E0FF;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

.footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #00FF85;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer-top .social-links a:hover {
  background: #00FF85;
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;

}

.copyright {
  float: left;
}

.credits {
  float: right;
  font-size: 13px;
}

.credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .copyright,
  .credits {
    text-align: center;
    float: none;
  }

  .credits {
    padding-top: 4px;
  }
}

/*--------------------------------------------------------------
# Page 404
--------------------------------------------------------------*/
#notfound {
  width: 100%;
  height: 80vh;
  background: #222222;
}

#notfound h1 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 20px;
  color: #00FF85;
}

#notfound h2 {
  font-family: "Poppins", sans-serif;
  color: #00E0FF;
  margin-bottom: 15px;
  font-size: 23px;
}

#notfound .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 10px 0 0 0;
  color: #222222;
  background: #00FF85;
}

#notfound .btn-get-started:hover {
  background: #00E0FF;
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/


.about .container {
  padding-top: 5vh;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #00E0FF;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #04dc2f;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #04dc2f;
}

.about .content .btn-learn-more:hover {
  background: #7e7e7e;
  color: #04dc2f;
  text-decoration: none;
}

@media (max-width: 991px) {

  .about {
    height: auto;
  }

  .about .container {
    padding-top: 15vh;
    padding-bottom: 5vh;
  }
}



/* Nav Bar */

.site-navbar-wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0;
}

.site-navbar-wrap .site-navbar-top {

  font-size: 0.8rem;
}

.site-navbar-wrap .site-navbar-top>a {
  font-family: "Poppins", sans-serif;
  color: #04dc2f;
}

.site-navbar-top {
  border-bottom: 1px solid rgba(171, 171, 171, 0.4);
}

.site-navbar {
  margin-bottom: 0px;
  width: 100%;
}

.site-navbar .site-logo {
  line-height: 0;
  top: -7px;
  position: relative;
  height: 5vh;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu a {
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  display: inline-block;
  font-weight: 500;
}

.site-navbar .site-navigation .site-menu>li {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 5px;
}

.site-navbar .site-navigation .site-menu>li>a {
  padding: 20px 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a.active {
  color: #fff;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
  color: #00FF85;
}

.site-navbar .site-navigation .site-menu>li:last-child {
  padding-right: 0;
}

.site-navbar .site-navigation .site-menu>li:last-child>a {
  padding-right: 0;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #222222;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  border-radius: 4px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {

  border-bottom-color: #222222;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #00FF85;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #222222;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
  color: #ffffff !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li:first-child>a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li:last-child>a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
  background: #ebeef0;
  color: #04dc2f;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
  background: #ebeef0;
  color: #04dc2f;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
  color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #00FF85;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #00E0FF;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: #00E0FF;
  position: relative;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a.active,
.site-mobile-menu .site-nav-wrap a:hover {
  font-weight: 700;
  color: #00E0FF;
  box-shadow: 10px 0 20px 10px rgba(0, 0, 0, 0.1);
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #00E0FF;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  color: #222222;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
  font-size: 16px;
  padding-left: 60px;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper+.site-blocks-cover {
  margin-top: 96px;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper .site-navbar ul li.active a {
  color: #fff;
}

.sticky-wrapper.is-sticky .site-navbar {
  background-color: #222222;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li {
  display: inline-block;
  padding: 10px 5px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li:last-child {
  padding-right: 0;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li:last-child>a {
  padding-right: 0;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li.has-children>a {
  padding-right: 20px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li>a {
  padding: 10px 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li>a:hover {
  color: #00E0FF !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li>a.active {
  color: #00FF85 !important;
}