.faq {
    width: 100%;
    // height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;

    h2 {
        font-size: 22pt;
        color: $primary-color-one;
        margin: 35px 0px;
    }
}

.accordion-conteiner {
    max-width: 850px;
    width: 85%;
    margin: 10px 8px;

}

.accordion {
    border: 2px solid $black-normal;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    border: none;
    background-color: transparent;
    color: #fff;

    font-size: 15pt;
    font-weight: 600;

    span {
        color: $primary-color-two;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.accordion-header.active{
    span{
        text-overflow: clip;
        overflow: visible;
        white-space: normal;
        text-align: left;
        line-height: 1.5em;
        
    }
}

.accordion-body {
    color: #fff;
    font-size: 12pt;
    text-align: justify;

    // ATENÇÃO
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;

    p {
        line-height: 1.5em;
    }
}

.accordion-body.active {
    padding: 12px;
    height: 100%;
    opacity: 1;
}

.arrow {
    transition: transform .2s linear;
}

// ANIMAÇÃO PARA A SETA GIRAR
.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}

@media screen and (max-width: 500px) {
    .faq {
        h2 {
            font-size: 22pt;
            text-align: center;
        }

        .accordion-header {
            span {
                font-size: 11.5pt;
            }
        }
        .accordion-body{
            p{
                text-align: left;
                font-size: .9rem;
            }
        }
    }
}