.mission {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;

    // background-image: url('../asserts/1.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    background-color: #222;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 50px;

    margin: 80px auto;
    max-width: 1288px;
    width: 100%;

    .info-mission {
        width: 30%;

        h2 {
            color: $primary-color-two;
        }

        p {
            font-size: .7em;
        }
    }
}

.cards-mission {
    display: flex;
    gap: 5%;
    text-align: center;

    width: 60%;

    h3 {
        font-size: 1em;
        text-align: center;
    }

    p {
        font-size: .7em;
    }
}

@media screen and (max-width: 1312px) {
    .mission {
        flex-direction: column;
        max-width: 800px;
        width: 100%;
        
        
        .info-mission {
            width: 100%;
            text-align: center;
        }
    }

    .cards-mission {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .mission {
        text-align: center;
        background-image: none;
        background-color: $black-normal;
        border-radius: 0px;
        margin-top: 80px;
    }

    .info-mission {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            width: 85%;
        }
    }

    .cards-mission {
        flex-direction: column;

        p {
            max-width: 500px;
        }
    }

    .card-mission {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
