{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block base_head %}
    <meta name="description"
      content="Decola Web: Soluções digitais personalizadas para micro e pequenas empresas alcançarem o sucesso no mundo tecnológico. Desenvolvemos aplicativos móveis, sistemas web e mais para impulsionar seu negócio. Voe alto conosco rumo ao crescimento e prosperidade!">
    <meta name="keywords"
      content="Decola Web, soluções digitais, microempresas, pequenas empresas, aplicativos móveis, sistemas web, sucesso empresarial, aplicativos, decola, Decola, Web, Flutter, Python">
    <title>Decola Web</title>
    <meta property="og:url" content="https://decola-web.com">
    <meta property="og:url" content="https://www.decola-web.com">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Decola Web">
    <meta charset="utf-8" />
    <link href="{% static 'home/img/icon.png' %}" rel="icon">
    <link href="{% static 'home/img/icon.png' %}" rel="apple-touch-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap"
      rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

    {% endblock %}
  </head>

  <body>
    {% include 'home/components/navbar.html' %}

    {% block content %}

    {% endblock content %}

    {% include 'home/components/footer.html' %}

    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

  </body>
</html>
